<!-- include header -->
<%- include('includes/_header') %>
    <!-- /include header -->


    <!--
        ==================================================
            Global Page Section Start
        ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>service providers list</h2>
                        <ol class="breadcrumb list-inline text-center">
                            <li class="list-inline-item">
                                <a href="index.html">
                                    <i class="ion-ios-home"></i> Home &nbsp; &nbsp;/
                                </a>
                            </li>
                            <li class="active list-inline-item">Service Providers</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>






    <!--
==================================================
    Works Section Start
================================================== -->

    <section id="blog-full-width">
        <div class="container">
            <div class="row">
                <% for(var i = 0; i < user.length; i++) { %>


                    <div class="col-md-4">
                        <div class="sidebar">




                            <div class="recent-post widget">
                                <div>
                                    <img src="upload/<%= user[i].image_technician[0] %>" alt="" style="width: 200px;">
                                </div>
                                <h2>
                                    <%= user[i].vendor_name %>
                                </h2>
                                <ul>

                                    <li>
                                        <a href="service-provider-details.html">

                                        </a><br>

                                    </li>
                                    <a href="/service-provider-details?id=<%= user[i]._id%>"><button type="submit">Select</button></a>



                                </ul>
                            </div>
                        </div>
                    </div>
                    <% } %>



            </div>
        </div>
    </section>







    <!-- include footer -->
    <%- include('includes/_footer') %>
        <!-- /include footer -->