<!-- include header -->
<%- include('includes/_header') %>
    <!-- /include header -->

    <!--
        ==================================================
            Global Page Section Start
        ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>Details</h2>
                        <ol class="breadcrumb list-inline text-center">
                            <li class="list-inline-item">
                                <a href="index.html">
                                    <i class="ion-ios-home"></i> Home &nbsp; &nbsp;/
                                </a>
                            </li>
                            <li class="active list-inline-item">Service</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--
==================================================
    Service Page Section  Start
================================================== -->

    <!--
==================================================
    Works Section Start
================================================== -->



    <section class="company-description">
        <div class="container">

            <div class="row">
                <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s">
<<<<<<< HEAD
                    <img src="upload/<%= user.image_technician[0] %>" alt="" class="img-fluid">
=======
                    <img src="img/avater.jpg"style="border-radius:50%; width: 200px;
  height: 200px;display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;border: 2px solid #041c3c;" alt="" class="img-fluid"></img><br><br>
 <section id="cta" style="height:10px;background-color:#041c3c;">
    <div class="container">
        <div class="row" >
            <div class="col-md-12" >
                <div class="block" >
                    <h4 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms" style="    padding-bottom: 10px;">Min Charge &emsp; Expeirnce</h4>


                </div>
            </div>

        </div>
    </div>
</section>
<section id="ctaa" style="height:10px;background-color:#b10b1f;">
   <div class="container">
       <div class="row" >
           <div class="col-md-12" >
               <div class="block" >
                   <h4 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">3+ Years  &emsp;&emsp;&emsp; $400</h4>


               </div>
           </div>

       </div>
   </div>
</section>
>>>>>>> 27a8ef3083344fff2130561008f3c87b6ea845df
                </div>
                <div class="col-md-6">
                    <div class="block">
                        <h2 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">
                            <%= user.vendor_name %>
                        </h2>
                        <h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">
                            <%= user.timings %>
                        </h3>
                        <p class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
<<<<<<< HEAD
                            <%= user.address %>
=======


                            The wheels nation is fuelled to set your bike on a smooth journey. Our team believes in efficiency and topmost customer service. Whether it is a bike service, bike repair or bike cleaning we are a one-stop solution for all your bike things. We are here
                            to bring a revolution in the bike servicing industry. Owing to the current scenario of Covid-19, we promise to provide hygienic and safe service to all our customers. If the question is bike service, the answer is always TWN.e repair or bike cleaning we are a one-stop solution for all your bike things. We are here
                            to bring a revolution in the bike servicing industry. Owing to the current scenario of Covid-19, we promise to provide hygienic and safe service to all our customers. If the question is bike service, the answer is always TWN.
>>>>>>> 27a8ef3083344fff2130561008f3c87b6ea845df
                        </p>


                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <br><br><br>
                        <button class="btnn" onclick="">Book Now</button>
                    </div>
                </div>
            </div>

        </div>-
    </section>

    <br><br>

    <!-- include footer -->
    <%- include('includes/_footer') %>
        <!-- /include footer -->
